.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.card-design{
    border: 3px solid rgb(130, 130, 130) !important;
}

.expanded-text{
    text-align: left;
}
.expanded-title{
    text-align: left;
    font-weight: 600 !important;
    margin-bottom: 8px !important;
}
.card{
    background-color: #e9eded !important;
    margin: 2%;
    
}
